<!-- Reservation Section -->
<section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay" style='background-image: url({{ "img/reservation-bg.jpg" | absURL }});'>
<div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-content bg-white p-5 shadow">
                 <div class="heading-section text-center">
                        <span class="subheading">
                            Reservation
                        </span>
                        <h2>
                            Book Now
                        </h2>
                    </div>       
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScKleEeOpBpmlxs0TZJxNFdgPBYh7G5JgBqNDOgSf-85PNW9A/viewform?embedded=true"></iframe>
</div>
</div>
</div>
</div>
</section>
