<!-- Reservation Section -->
<section id="gtco-reservation" style='background-image: url({{ "img/reservation-bg.jpg" | absURL }});'>
<div class="heading-section text-center">
                        <span class="subheading">
                            Reservation
  </span>
                            Book Now!!
                    </div>
<p align="center"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLScKleEeOpBpmlxs0TZJxNFdgPBYh7G5JgBqNDOgSf-85PNW9A/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></p>
</section>
